body {
  font-family: 'Roboto', sans-serif;
}

.material-symbols {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  direction: ltr;
  color: grey;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  position: relative;

  &:hover::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(white, 0.05);
    border-radius: 8px;
  }
}